.mainDiv {
    width: 100vw;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #d7e9f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContentDiv {
    width: 40%;
    height: 65%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
}

.companyLogo {
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.formDiv {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputDiv {
    width: 80%;
    height: 45px;
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.inputField {
    width: 85%;
    height: 100%;
    background-color: #f1f6f8;
    border: transparent;
    border-radius: 10px;
    outline: 3px solid #084c81;
    color: #084c81;
    padding-left: 5px;
}

.submitBtn {
    background-color: #084c81;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

input::placeholder {
    color: #084c81;
    font-weight: 600;
}

.para {
    color: #000000;
}

.link {
    color: #084c81;
}


@media (max-width: 770px) {
    .mainContentDiv {
        width: 55%;
        height: 75%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
        border-radius: 10px;
    }
}

@media (max-width: 426px) {
    .mainContentDiv {
        width: 90%;
        height: 75%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
        border-radius: 10px;
    }
}